extends layout

block content
    h1= title

    // Wrapper
    #wrapper

        // ScrumSam user list
        h2 User List
        #userList(ng-controller="UsersCtrl")
            p 
              span: a(href="" ng-click="createRandom()") Create random item
            table
                thead
                    //th
                    th Name
                    th Email
                    th Delete?
                tbody
                  tr(ng-repeat="user in users")
                    //th
                    //  input(type="checkbox", ng_model="user.checked")
                    td 
                      a(ng-href="{{user.link}}") {{user.name}} 
                    td {{user.email}}
                    td
                      a(href="" ng-click="delete(user)") delete
            p Status: {{message}}
        // /ScrumSam user list


    // /Wrapper

    //div
    //    label Name:
    //    input(type="text" ng-model="yourName" placeholder="Enter a name here")
    //    hr
    //    h1 Hello {{yourName}}


        
        


